.Countdown{
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .Countdowncol{
    display: inline-block;
  }
  
  .Countdowncolelement{
    display: inline-block;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Countdowncolelement strong{
    font-size: 1.25em;
    padding: .25em 0.25em;
    background: white;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 8px #8e745e;
  }
  .Countdowncolformat {
    margin-top: 10px;
    font-weight: 600;
    color: #8e745e;
  }
  .Countdowndesc {
    background: white;
    border-radius: 5px;
    color: black;
    line-height: 18px;
    box-shadow: 5px 8px #8e745e;
    padding: .5em 0.5em;
    display:inline-block;
    vertical-align: middle;
    width: 80px;
    font-weight: 600;
    color: #8e745e;
    text-align: left;
    margin: 5px 10px;
    font-size:1em;
  }