@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

.timeline:before {
    position: absolute;
    display: block;
    content: '';
    width: .6rem;
    height:100%;
    background-color: #A7F3D0;
    left: 50%;
    margin-left: -.3rem;
    border-radius: 1em;
    z-index: -1;
}

.timeline {
    position:relative;
}

.scroll-tab-header {
    max-width: 90vw;
}

.modal {
    max-width: 90vw;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}